/* Styles globaux pour le body et l'application */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

#app {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Colonne pour organiser les éléments */
  align-items: center;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.combatant {
  display: inline-block;
  width: 45%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  vertical-align: top;
}

.combatant h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Boutons généraux */
button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #ddd;
}

/* Boutons Rouge */
.red-button {
  background-color: #ff9999; /* Rouge plus pâle */
  color: white;
}

.yellow-button {
  background-color: #ffcc00; /* Jaune orangé pour avertissement */
  color: black;
}

.undo-button.red-button {
  background-color: #ff9999; /* Rouge pâle pour Annuler le dernier point */
  color: white;
}

/* Boutons Bleu */
.blue-button {
  background-color: #99ccff; /* Bleu plus pâle */
  color: white;
}

.undo-button.blue-button {
  background-color: #99ccff; /* Bleu pâle pour Annuler le dernier point */
  color: white;
}

/* Boutons spécifiques au sol */
.sol-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.square {
  width: 22%;
  margin: 0 2%;
}

/* Tableau des statistiques */
.stats-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.stats-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#red-stats td {
  background-color: #ffcccc; /* Rouge clair (fond du tableau Rouge) */
  color: white;
}

#blue-stats td {
  background-color: #cce0ff; /* Bleu clair (fond du tableau Bleu) */
  color: white;
}